/* Books.css */
.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem 0;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.book-card:hover {
  box-shadow: 0 4px 8px rgba(13, 155, 190, 0.718);
  cursor: default;
}

.book-card img {
  border-radius: 4px;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 200px;
  height: auto;
}

.book-card h4 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  color: rgb(9, 92, 104); 
}

.book-card p {
  font-size: 0.8rem;
  color: rgb(9, 92, 104); 
  margin: 0 0 0.5rem;
}

.book-card p strong {
  color: rgb(9, 92, 104);
}

.add-to-cart-btn {
  background-color: #29a0bb;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.add-to-cart-btn:hover {
  background-color:  #46d0ef;
}